@charset "utf-8";
/* CSS Document for project */

body{
	font-size: 14px;
	color: white;
	background-color: white;
}
body:before{
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  height: 105%;
  filter: blur(2px);
  margin: -5px -5px -5px -5px;
}
h2{
	font-size: 20px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: normal;
}
#container{
	overflow: hidden;
}
#header_container{
	background-color: rgba(222,142,99,1.00);
	overflow: hidden;
}
#header{
	padding: 5px;
	margin: 0 auto;
	max-width: 590px;
}
#header img{
	width: 150px;
	float: left;
}
#title{
	padding: 5px;
	/*background-color: rgba(59,59,59,0.60);*/
	font-size: 28px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	float: left;
	margin-top: 7px;
	text-align: center;
}
#results{
	padding: 10px;
    background: rgba(217,120,69,1.00);
	overflow: hidden;
	border-top: thick solid rgba(182,88,39,1.00);
}
#sighting_des{
	margin-top: 5px;
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: normal;
}
#dropdown{
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: normal;
	background: rgba(217,120,69,1.00);
	padding: 10px;
	overflow: hidden;
	border-left: thick solid rgba(182,88,39,1.00);
	border-top: thick solid rgba(182,88,39,1.00);
}
#loadUFO{
	margin-top: 15px;
}
#newsighting{
	font-size: 18px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	background: rgba(217,120,69,1.00);
	padding: 10px;
	overflow: hidden;
	border-left: thick solid rgba(182,88,39,1.00);
	border-top: thick solid rgba(182,88,39,1.00);
}
#newsighting input, select{
	float: left;
	clear: both;
	width: 100%;
	color: gray;
}
select{
	height: 2.60em !important;
}
#newsighting input[type="button"]{
	float: left;
	clear: both;
	width: 100%;
	color: white;
}
#newsighting label{
	float: left;
	clear: both;
	font-size: 14px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}
#audioplayer{
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(217,120,69,0.80);
	padding: 15px;
	border-top: medium solid rgba(182,88,39,1.00);
	border-left: medium solid rgba(182,88,39,1.00);
}
#audioplayer h2{
	margin-bottom: 10px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: url("../img/ajax-loader.gif") 50% 50% no-repeat;
}
body.loading .modal {
    display: block;
}

@media screen and (max-width: 48em){
	#newsighting, #dropdown{
		border-left: none;
	}
	#audioplayer{
		position: relative;
		float: left;
		background: rgba(217,120,69,1.00);
		border-top: thick solid rgba(182,88,39,1.00);
		border-left: none;
		padding: 10px;
	}
}